<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Image:</strong>
  <%= @task.image %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path, class: 'btn-warning' %>
